<!--
    DODOA
        A better OA system for Design Management.
    
    :Author:    Bruce Frank Wang
    :File Time: 2019-02-20 15:46
    :copyright: © 2019 Bruce Frank Wang <bruce.frank.wang@gmail.com>
    :license:   GPL v3, see LICENSE for more details.
-->

{% extends 'base.html' %}

{% from "_navigator.html" import navigator %}
{% from "_page_foot.html" import page_foot %}

{% block navigator %}
    {{ navigator() }}
{% endblock %}

{% block content %}
    {{ navigator() }}
{% endblock %}

{% block page_foot %}
    {{ page_foot() }}
{% endblock %}